// Place all the styles related to the measurements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$background_color: rgba(102,160,255,0.75);
$filler_color: #DAE2EE;



table.center {
  width:70%;
  margin-left:15%;
  margin-right:15%;
}